#display {
    grid-area: display;
}

#0 {
    grid-area: 0;
}

#1 {
    grid-area: 1;
}

#2 {
    grid-area: 2;
}

#3 {
    grid-area: 3;
}

#4 {
    grid-area: 4;
}

#5 {
    grid-area: 5;
}

#6 {
    grid-area: 6;
}

#7 {
    grid-area: 7;
}

#8 {
    grid-area: 8;
}

#9 {
    grid-area: 9;
}

#div {
    grid-area: div;
}

#mul {
    grid-area: mul;
}

#add {
    grid-area: add;
}

#sub {
    grid-area: sub;
}

#clear {
    grid-area: clear;
}

#equals {
    grid-area: equals;
}



#grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "display display display display"
      "7 8 9 div"
      "4 5 6 mul"
      "1 2 3 sub"
      "0 clear equals add";
  }

#grid > div {
    background: #EDE7F6;
    padding: 1rem;
    border-radius: 1.5rem;
  }

#grid > div:hover {
    background: rgb(173, 133, 231);
    border-radius: 1rem;
}

#grid > #display {
    background: rgb(253, 253, 253);
    border: 1px solid #EDE7F6;
    border-radius: 1.5rem;
}
